* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #5b7993;
}

.victoireTheme{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 250px;
    text-shadow: 1px 0px aquamarine;
    font-size: 3em;
    color: #882b2b;
}

a{
    color: red;
}

a:hover{
    text-decoration: antiquewhite;
    text-transform: uppercase;
}


